<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>User info</h1>
			<%= form_for(@user) do |f| %>
				<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name, autofocus: true %>
				</div>
			    <div class="form-group">
			    	<%= f.label :image %>
			    	<%= f.attachment_field :profile_image %>
			    </div>
				<div class="form-group">
					<%= f.label :introduction %>
					<%= f.text_area :introduction, autfocus: true %>
				</div>
				<%= f.submit "Update User", class: "btn btn-default" %>
			<% end%>
         </div>
    </div>
</div>